<!-- 
    This is a base template containing the navbar, to be used across all pages. 
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
        <!-- Curly braces and percentage symbols Allows us to execute Python expressions using Jinja -->
        <!-- Define block that can be overriden -->
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <!--  Setup the navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!--  Add a button for phones/small browsers to expand/collapse navbar -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <!-- Don't display things like sign up if the user is signed in. -->
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                        <a class="nav-item nav-link" id="home" href="/">Home</a>
                        {% if user.permission == "admin" %}
                            <a class="nav-item nav-link" id="home" href="/admin">Admin</a>
                        {% endif %}
                    {% else %}
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link" id="signup" href="/sign-up">Sign Up</a>
                    {% endif %}
                </div>
            </div>
            <!-- Welcome text in the navbar. -->
            <div style="text-align: right; color: white;">Welcome, {{ user.name or "anonymous" }}</div>
        </nav>
        <!-- Some code to allow us to use flash() to inform users when things occur. -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %} 
                    <div class="alert alert-danger alert-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span area-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span area-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
            <!-- Define a generic block to allow us to add content to the whole page, below the navbar. -->
            {% block content %}
            {% endblock %}
        </div>
        <!-- packages to aid in development. JQuery, bootstrap and a custom JS file defined within this project. -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>